
 
 <br><br> 
 <h2>Your booking</h2><div id="room{{_id}}">
    <img src="/img/new/{{room.img}}" alt="room{{room._id}}">
    <p style="font-weight: bold;">{{room.title}}</p>
    <p>{{room.detail}}</p>
    <P >$<span id="roomprice" >{{room.price}}</span> CAD/night</P>
    <p><span>*</span>{{room.rate}}(363) - Super</p>
    <p>Check-in</p>
    <p>{{room.checkin}}</p>
    <p>Check-out</p>
    <p>{{room.checkout}}</p>
      <p>Number of nights:</p>
      <p>{{room.nights}}</p>
      <p>Total Price:</p>
      <p >{{room.total}}</p>

  </div>