<!--
--Name - Mansi Verma
--Seneca ID - 141641191
--Seneca Email - mverma37@myseneca.ca
--Date - 31 October 2020
Did all the .hbs .js Node and Express by myself. Got help for photos from unsplash which is really a helpful site.
-->

<link rel="stylesheet" href="style/style2.css">
<div class="grid-container">

  {{#each rooms}}
  <div id="room{{_id}}">
    <img src="/img/new/{{img}}" alt="room{{_id}}">
    <p style="font-weight: bold;">{{title}}</p>
    <p>{{detail}}</p>
    <P>${{price}} CAD/night</P>
    <p><span>*</span>{{rate}}(363) - Super</p>
    <form action="/roompage" method="POST" enctype="multipart/form-data">
      <input type="text" name="id" id="id" value="{{_id}}" hidden>
      <input type="submit" value="Book!">
    </form>
  </div>

  {{/each}}

  <div id="room1">
    <img src="/img/room1.jpg" alt="room1">
    <p style="font-weight: bold;">ENTIRE APARTMENT - MONTREAL</p>
    <p>The Modern City!</p>
    <P>$130 CAD/night</P>
    <p><span>*</span>4.87(363) - Super</p>

  </div>
  <div id="room2">
    <img src="/img/room2.jpg" alt="room2">
    <p style="font-weight: bold;">ENTIRE HOUSE - ALBERTA</p>
    <p>Feel the nature!</p>
    <P>$149 CAD/night</P>
    <p><span>*</span>4.87(363) - Super</p>

  </div>
  <div id="room3">
    <img src="/img/room3.jpg" alt="room3">
    <p style="font-weight: bold;">ENTIRE APARTMENT - LA</p>
    <p>Want a Rocking Vacation!</p>
    <P>$180 CAD/night</P>
    <p><span>*</span>4.88(363) - Super</p>
  </div>
  <div id="room4">
    <img src="/img/room4.jpg" alt="room4">
    <p style="font-weight: bold;">ENTIRE APARTMENT - TORONTO </p>
    <p>Our Old City!</p>
    <P>$249 CAD/night</P>
    <p><span>*</span>4.87(363) - Super</p>

  </div>
  <div id="room5">
    <img src="/img/room5.jpg" alt="room5">
    <p style="font-weight: bold;">ENTIRE HOUSE - VANCOUVER</p>
    <p>Beautiful British Columbia!</p>
    <P>$179 CAD/night</P>
    <p><span>*</span>4.87(363) - Super</p>

  </div>
  <div id="room6">
    <img src="/img/room6.jpg" alt="room6">
    <p style="font-weight: bold;">ENTIRE APARTMENT - NEW YORK</p>
    <p>Our Wonderful City!</p>
    <P>$298 CAD/night</P>
    <p><span>*</span>4.87(363) - Super</p>

  </div>

</div>