<!--
--Name - Mansi Verma
--Seneca ID - 141641191
--Seneca Email - mverma37@myseneca.ca
--Date - 31 October 2020

Did all the .hbs .js Node and Express by myself. Got help for photos from unsplash which is really a helpful site.
-->
<link rel="stylesheet" href="style/style3.css">
      <div id="pop-up">
        <form style="text-align: center;" method="POST" action="/signup">
          <h3 style="text-align: center;">Sign up with <span style="color: cadetblue;">Facebook</span> or <span
              style="color: cadetblue;">Google</span> </h3>
          <h2>or</h2>
          <input type="email" placeholder="Email address" id="email" name="email" value="{{data.email}}"><br>
          {{#if errors.email}}
          <p style="color: tomato; font-family: cursive;" >{{errors.email}}</p>
          {{/if}}
          <input type="text" placeholder="First name" name="firstName" value="{{data.firstName}}"><br>
          {{#if errors.firstName}}
          <p style="color: tomato; font-family: cursive;">{{errors.firstName}}</p>
          {{/if}}
          <input type="text" placeholder="Last name" name="lastName" value="{{data.lastName}}"><br>
          {{#if errors.lastName}}
          <p style="color: tomato; font-family: cursive;">{{errors.lastName}}</p>
          {{/if}}
          <input type="password" placeholder="Create a Pasword" name="password" value="{{data.password}}"><br>
          {{#if errors.password}}
          <p style="color: tomato; font-family: cursive;">{{errors.password}}</p>
          {{/if}}
          
          <p style="font-family: cursive;">Birthday</p>
          <p style="font-family: cursive;">To sign up, you need to be at least 18. Other people who use Airbnb won't see<br> your birthday.</p>
          <input type="month" name="month" placeholder="Month "> <input type="date" name="date" placeholder="Date"> <input type="year"
            placeholder="Year" name ="year">
          <p style="font-family: cursive;">We'll send you marketing promotions, speacial offers, inspiration, and policy <br> updates via email.</p>
          <input type="submit" value="Sign up">
        </form>
      </div>
